<<<<<<< HEAD
<<<<<<< HEAD
#{
    margin: 33%;
    padding: 17%;
    box-sizing:border-box;

}
  .navbar{ 
      display: flex;
      gap: 25%;
      background-attachment:rgb(126, 182, 36);
    
}
=======

>>>>>>> ddb0509613ee9dd94a79c35260b24b6a798eb765
=======

>>>>>>> ddb0509613ee9dd94a79c35260b24b6a798eb765
